@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Global Variables */
:root {
  --primary-bg: #ffffff;
  --primary-color: #111111;
  --secondary-color: #666666;
  --accent-color: #FDFAF6;
  --border-color: rgba(102, 102, 102, 0.25);
  --border-color-light: rgba(102, 102, 102, 0.35);
  --font-main: "Poppins", sans-serif;
  --font-secondary: Arial, Helvetica, sans-serif;
}
